<div class="col-12 col-md-12 py-3">
  <div class="card rounded-5 shadow">
    <div class="card-header">
      <h4 class="text-center">LISTA DE CLIENTES CADASTRADOS</h4>
      <div class="position-relative">
        <div class="position-absolute top-0 end-0">
          <button class="btn btn-success"  href="#" [routerLink]="['/clientes/create']">
              <i class='fas fa-plus-circle'></i><span> CADASTRAR</span>
            </button>
        </div>
      </div>
    </div>

    <br/>

      <div class="card-body">
        <div class="table-responsive">
           <table class="table table-bordered">
              <thead class="table-primary">
              <tr class="center-align">
                <th>ID</th>
                <th>Nome</th>
                <th>Rg</th>
                <th>Data de Nascimento</th>
                <th>Email</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = "let row of clientes">
                <td>{{row.id}}</td>
                <td>{{ row.nome }}</td>
                <td>{{row.rg}}</td>
                <td>{{row.dataNascimento}}</td>
                <td>{{row.email}}</td>
                <td  style="width: 180px;">
                  <a  class="btn btn-primary m-1"  href="#" [routerLink]="['/clientes/', row.id,'view']"><i class="far fa-eye"></i></a>
                  <a  class="btn btn-warning m-1" [routerLink]="['/clientes/', row.id, 'edit']"><i class="fas fa-edit"></i></a>
                  <button type="button" class="btn btn-danger m-1" (click)="delete(row.id)"><i class="far fa-trash-alt"></i></button>
                </td>
              </tr>
              <tr>
                <td *ngIf="clientes.length == 0" colspan="6">Sem Dados Cadastrado</td>
              </tr>
            </tbody>
          </table>
      </div>
      </div>
    </div>
</div>
