<div class="col-12 col-md-12 py-3">

  <div class="card rounded-5 shadow">
    <div class="card-header">
      <h4 class="text-center">LISTA DE PRODUTOS CADASTRADOS</h4>
      <div class="position-relative">
        <div class="position-absolute top-0 end-0">
          <button class="btn btn-success"  href="#" [routerLink]="['/produtos/create']">
              <i class='fas fa-plus-circle'></i><span> CADASTRAR</span>
            </button>
        </div>
      </div>
    </div>

    <br/>
    <div class="card-body">

  <div class="table-wrapper">
    <table class="table table-striped table-hover table-bordered table-content ">
        <thead class="table-primary">
        <tr class="center-align">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Produto</th>
          <th scope="col">Preço</th>
          <th scope="col">Valor Promocional</th>
          <th scope="col">Descrição</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor = "let row of produtos">
          <td>{{row.id}}</td>
          <td>{{ row.nomeProd }}</td>
          <td>R$:{{row.preco}}</td>
          <td>R$:{{row.valorPromocao}}</td>
          <td>{{row.descricao}}</td>
          <td>
            <a  class="btn btn-primary m-1"  href="#" [routerLink]="['/produtos/', row.id,'view']"><i class="far fa-eye"></i></a>
            <a  class="btn btn-warning m-1" [routerLink]="['/produtos/', row.id, 'edit']"><i class="fas fa-edit"></i></a>
            <button type="button" class="btn btn-danger" (click)="delete(row.id)"><i class="far fa-trash-alt"></i></button>
          </td>
        </tr>
        <tr>
          <td *ngIf="produtos.length == 0" colspan="6">Sem Dados Cadastrado</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>


